<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landlord Signup</title>
    <link rel="stylesheet" href="/css/signup.css" />
  </head>
  <body>
    <div class="form">
      <h4>Signup</h4>
      <% if(errorMessage) { %>
      <div class="error">
        <%= errorMessage %>
      </div>
      <% } %>
      <form action="/signup" method="POST">
        <input type="text" name="name" placeholder="Name" value="<%= oldInput.name %>" class="<%= validationErrors.find(e=> e.path === 'name') ? 'invalid': '' %>"/>
        <input type="email" name="email" placeholder="Email"  value="<%= oldInput.email %>" class="<%= validationErrors.find(e=> e.path === 'email') ? 'invalid': '' %>"/>
        <input type="password" name="password" placeholder="Password" value="<%= oldInput.password %>" class="<%= validationErrors.find(e=> e.path === 'password') ? 'invalid': '' %>"/>
        <button type="submit">Signup</button>
      </form>

      <div class="suggests">
        <div class="signup">
          <a href="/">Login</a>
        </div>
      </div>
    </div>
  
    <div class="footer"><p id="copyright">Collinsfrontend &copy;</p></div>
  </body>
  <script>
    document
      .getElementById("copyright")
      .appendChild(document.createTextNode(new Date().getFullYear()));
  </script>
</html>
