<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tenants</title>
    <link rel="stylesheet" href="/css/tenants.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="nav">
      <img src="/images/logo.png" alt="" />
      <ul>
        <% if (isAuthenticated) { %>
        <li>
          <form action="/logout" method="POST">
            <button type="submit">Logout</button>
          </form>
        </li>
        <% } %>
      </ul>
    </div>
    <div class="hello">
      <p>Hello <%= landlord.name %> 👋</p>
    </div>

    <div class="container">
      <h4>Add New Tenants</h4>
      <% if(errorMessage ) { %>
      <div class="error"><%= errorMessage %></div>
      <% } %>
      <div>
        <form
          action="<% if (editing) { %>/tenants/edit/<%= tenant._id %><% } else { %>/tenants<% } %>"
          method="POST"
          class="add"
        >
          <input
            type="text"
            name="name"
            placeholder="Name"
            value="<% if (editing ) { %><%= tenant.name %><% } %>"
          />
          <input
            type="text"
            name="apt"
            placeholder="Apt#"
            value="<% if (editing) { %><%= tenant.apt %><% } %>"
          />

          <button type="submit">
            <% if (editing) { %>Edit Tenant<% } else { %>Add Tenant<% } %>
          </button>
        </form>
      </div>
      <% if(tenants.length > 0) { %>
      <h4>Tenants</h4>
      <table>
        <tr>
          <th>Name</th>
          <th>Apt#</th>
          <th>Get Invoice</th>
          <th>Delete</th>
          <th>Edit</th>
        </tr>
        <% for (let tenant of tenants) { %>
        <tr>
          <td><%= tenant.name %></td>
          <td><%= tenant.apt %></td>
          <td>
            <a href="/tenants/<%= tenant._id %>">Invoice</a>
          </td>
          <td>
            <form action="/tenants/<%= tenant._id %>" method="POST">
              <button type="submit">Delete</button>
            </form>
          </td>
          <td>
            <form action="/tenants/edit/<%= tenant._id %>">
              <button type="submit">Edit</button>
            </form>
          </td>
        </tr>

        <% } %>
      </table>
      <% } %>
    </div>
    <div class="footer"><p id="copyright">Collinsfrontend &copy;</p></div>
  </body>
  <script>
    document
      .getElementById("copyright")
      .appendChild(document.createTextNode(new Date().getFullYear()));
  </script>
</html>
